In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from causadb import CausaDB
from causadb.plotting import plot_causal_graph, plot_causal_attributions
import os
import numpy as np

client = CausaDB(token=os.getenv("CAUSADB_TOKEN"))

In [3]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    "A": np.random.randn(100),
    "B": np.random.randn(100),
    "C": np.random.randn(100),
})

data.head()

          A         B         C
0  2.646655  0.061826 -0.951162
1 -0.996810  1.712514  0.755063
2  0.624841 -0.204726  0.736353
3  2.167268  2.168623  0.697739
4 -0.955820 -0.183882 -0.312336

In [14]:
df = pd.read_csv('lambda_data.csv')
df.head()

,lambda_name,workload,memory_size,billed_duration,memory_used,cost,cost_per_million
0,LGP,228083,256,5424.0,41.0,0.000023,22.60452
1,ONW,1345432,6144,9277.0,52.0,0.000928,927.88554
2,LZD,532240,1024,5046.0,44.0,0.000084,84.11682
3,GGN,588079,128,30000.0,41.0,0.000063,62.51250
4,EDU,1614122,8192,12516.0,54.0,0.001669,1669.13376

In [19]:
# Find null values
df.isnull().values.any()

False

In [22]:
client \
  .add_data("hnr-data") \
  .from_pandas(df[["workload", "memory_size", "billed_duration", "memory_used", "cost", "cost_per_million"]])

In [23]:
model = client.create_model("hnr-model")
model.set_nodes(["workload", "memory_size", "memory_used", "billed_duration", "cost_per_million"])
model.set_edges([
    ("workload", "memory_size"),
    ("workload", "memory_used"),
    ("memory_size", "memory_used"),
    ("memory_size", "billed_duration"),
    ("workload", "billed_duration"),
    ("memory_used", "billed_duration"),
    ("memory_size", "cost_per_million"),
    ("billed_duration", "cost_per_million")
])

model.train("hnr-data")

In [25]:
model.find_best_actions(
    targets={
        "cost_per_million": "minimise", 
        "billed_duration": "minimise"
    }, 
    actionable=["memory_size"],
    data=df[["workload", "memory_size", "billed_duration", "memory_used", "cost", "cost_per_million"]]
) # DF can't handle string entries, fix this! More importantly, only one recommendation is returned, but should be len(df)

{'workload': [228083, 1345432, 532240, 588079, 1614122, 1853655, 1186800, 743730, 1207414, 508983, 738874, 814321, 922159, 1824891, 1082907, 1441382, 1937804, 1483476, 1335200, 669204, 1489779, 1864052, 1702472, 1217033, 1448529, 1353397, 1162428, 1420373, 1764183, 1304940, 182984, 993764, 632915, 379363, 498746, 962829, 887715, 877922, 296964, 524230, 809065, 215438, 1875466, 1135125, 724582, 996802, 328834, 1144723, 292464, 1466405], 'memory_size': [256, 6144, 1024, 128, 8192, 6144, 6144, 1024, 2048, 128, 512, 1024, 1024, 6144, 512, 4096, 4096, 6144, 6144, 256, 4096, 6144, 8192, 8192, 4096, 6144, 1024, 1024, 6144, 4096, 256, 1024, 128, 128, 512, 512, 2048, 2048, 256, 256, 128, 128, 8192, 4096, 512, 1024, 128, 2048, 128, 6144], 'billed_duration': [5424.0, 9277.0, 5046.0, 30000.0, 12516.0, 14200.0, 7769.0, 7286.0, 6909.0, 30000.0, 14198.0, 7549.0, 9529.0, 14295.0, 22982.0, 10271.0, 13279.0, 10570.0, 9107.0, 23358.0, 8643.0, 14488.0, 11001.0, 8183.0, 8788.0, 9394.0, 13123.0, 19735.0, 13661.0, 7615.0, 4322.0, 9994.0, 30000.0, 22758.0, 8384.0, 20442.0, 5285.0, 4399.0, 8284.0, 16908.0, 30000.0, 10611.0, 14697.0, 6323.0, 13929.0, 10851.0, 19362.0, 6363.0, 16218.0, 9468.0], 'memory_used': [41.0, 52.0, 44.0, 41.0, 54.0, 56.0, 51.0, 46.0, 50.0, 42.0, 46.0, 47.0, 48.0, 56.0, 49.0, 53.0, 56.0, 52.0, 52.0, 46.0, 52.0, 55.0, 55.0, 51.0, 53.0, 52.0, 50.0, 52.0, 55.0, 52.0, 41.0, 48.0, 41.0, 43.0, 44.0, 48.0, 47.0, 47.0, 42.0, 44.0, 41.0, 41.0, 56.0, 50.0, 46.0, 48.0, 42.0, 50.0, 42.0, 53.0], 'cost': [2.2604520000000005e-05, 0.00092788554, 8.411682000000001e-05, 6.251250000000001e-05, 0.00166913376, 0.001420284, 0.00077705538, 0.00012145762, 0.00023034606, 6.251250000000001e-05, 0.00011834033, 0.00012584183, 0.00015884843, 0.0014297859, 0.00019155497, 0.00068487028, 0.00088544372, 0.0010572114, 0.00091088214, 9.7344465e-05, 0.00057631524, 0.00144908976, 0.00146709336, 0.00109128488, 0.00058598384, 0.00093958788, 0.00021876041, 0.00032898245, 0.00136637322, 0.0005077682, 1.8011935000000002e-05, 0.00016659998, 6.251250000000001e-05, 4.74219825e-05, 6.988064e-05, 0.00017038407, 0.0001762019, 0.00014666266, 3.452357000000001e-05, 7.046409000000001e-05, 6.251250000000001e-05, 2.2110671250000005e-05, 0.00195999192, 0.00042161764, 0.000116098215, 0.00018088617, 4.03455675e-05, 0.00021214242, 3.37942575e-05, 0.00094698936], 'cost_per_million': [22.604520000000004, 927.88554, 84.11682, 62.51250000000001, 1669.1337600000002, 1420.284, 777.05538, 121.45762, 230.34606, 62.51250000000001, 118.34033000000002, 125.84183, 158.84843000000004, 1429.7859, 191.55497, 684.8702800000001, 885.44372, 1057.2114, 910.88214, 97.344465, 576.3152400000001, 1449.08976, 1467.09336, 1091.2848800000002, 585.9838400000001, 939.58788, 218.76041, 328.98245000000003, 1366.37322, 507.7682000000001, 18.011935, 166.59998000000002, 62.51250000000001, 47.421982500000006, 69.88064, 170.38407, 176.20190000000002, 146.66266000000002, 34.52357000000001, 70.46409000000001, 62.51250000000001, 22.110671250000006, 1959.99192, 421.6176400000001, 116.098215, 180.88617, 40.345567499999994, 212.14242, 33.7942575, 946.98936]}

   memory_size
0  1711.525458

In [13]:
model.find_best_actions(
    targets={"C": -1},
    actionable=["A"],
    data=data
)

{'A': [2.6466550175734453, -0.9968101568511808, 0.6248405776777354, 2.167267650839435, -0.955820113995187, -1.2834522835838675, -2.073303117306852, 2.2488477714464556, -0.022409828619735693, -1.8562507465012232, -0.04210598701197271, 1.3946949230279784, 2.1417077628164085, 0.3772409949974625, 0.28973841140303475, 1.2668893933883527, -0.09743663771281193, 0.40470284928892875, -0.31433784810185605, -0.23557380684340434, 0.7067634625510905, 1.0375639809912052, 0.3407037165715367, -0.6711362017757769, -0.7619561746080006, 0.2524384175311176, -0.2918868147941623, 1.037294705850295, 0.8461373740189365, -1.484330102879922, 1.276112384963727, 0.4025122470927633, 0.6919906336842802, 2.0133734053933567, -0.06457829775711059, -0.8636993879507239, 0.9693561267274167, -0.2837865977053893, -0.7540811091866615, -1.860485383657241, 1.619981271229795, -1.3194380220817243, 1.9504088398496386, -0.37187217112120385, -2.5272277468797624, 0.31053877252801165, -0.7990488092061173, 0.0404726658730539, 0.36892454682000064, 0.49583782367257456, 0.04029746587142195, 0.6758510006962772, 0.2547695981081377, -1.6115639045820895, -1.1926510587512147, -0.7854885670337498, 1.1824194709881615, -0.882327062218306, -1.7034024251526996, 0.5726255099462733, 0.6882559714769763, 0.6207006937552482, 0.16843228778624478, -1.7251344359956255, -0.6325665168382278, 1.3409987446870597, 1.7647987683369661, -1.3697542904098863, 0.12643729030720569, 0.6306613194490297, 0.7471235140679502, 0.8813320036718333, -0.7635151838384091, 0.3479278307781272, 0.2929192114608677, -0.6543878278640494, 1.3143207764864644, -0.09127431695465549, -0.817657127690503, 1.199665980210705, 0.6300491948289362, 0.4787885982036629, -1.3002073472040316, 1.5526265236581143, -1.12884276140458, 0.3001173031315276, 0.3572588153710718, 1.4578091418669903, 0.07850675941435088, 0.2521915636045898, 0.9210186807029, 1.3933048151746226, 1.6275653873757159, 2.187643955240849, 0.03783667192064537, -0.25105151351243904, -1.9567742441395108, -0.5769499642486039, 0.7007865378096423, -0.32144653166732245], 'B': [0.06182604570505839, 1.7125144293970387, -0.20472602540409182, 2.1686227371609204, -0.18388198788771318, 1.6754667883395042, -0.3427399746121281, -0.9919381098755371, -0.733046905585345, -0.08018869360675593, -0.41739877696639077, -1.0808036621649748, -0.44332056271093706, 0.31644539963176066, -1.6350525441335935, 0.5676100989657283, 0.16503774504490584, -0.05117414489182272, -0.9416964859174827, 0.7228746090812171, -0.4718400277817921, -0.9694067269477695, 1.2149225264791848, -0.7107782416230493, -0.5180275339566378, -0.9265896263340789, 1.3937401857817182, 0.05168173983850079, 0.03836747973147899, -0.04864342933157161, 0.4041713862515815, -0.7605060260669937, -0.46372845416491587, -0.32110105638131736, 0.6334266067240607, 1.2171269718819053, 1.2683523068287066, -2.059376819325651, -0.04043786940518979, 0.34220253702436065, -0.42560474639306156, 0.23306245777999404, 1.7026082752675291, -1.3672136518683846, 0.30437589178279295, 0.8093893903093081, -0.385843747419606, 0.7449849521717347, -1.0220692970969028, 2.818393653015258, -1.5108826077714665, 0.49732817233477106, 1.6076470243078702, -1.2142707745084484, 1.1770194412847215, 0.23154369996804253, 0.5862280630051061, 1.1747760289122575, 1.5274719801413779, -0.07921442924364534, 0.5118790551194753, -0.5331596275880415, -1.2195595977171059, 2.7892167478060736, -1.8074760140717587, -1.2425719349861863, 1.3049963699249698, -1.6795864404839382, -1.085299322591261, -1.4528461222570757, 0.22700187778731665, -0.2054085970994897, -0.6618232951122468, 0.12096919394608506, 0.7117990163199526, 0.7499219265277388, -1.2261019786524823, 0.1313641012051002, 1.867273365278107, 0.512092561747233, 0.32735260776884545, 1.483248244671193, 0.9917799476218359, 0.5926000745840699, -0.7635909018957966, -1.2351360356682735, 0.6794991219163928, -2.1694899514154, -0.20521649902497055, 0.1677641492459382, -1.7982168539443144, 0.8185699402554869, 0.5653962162121254, -0.9246279645310265, 0.6311971174021308, -0.2904865291767422, -1.128300364962494, -0.1268635441095093, -0.10832552465473305, -1.2413589029602474], 'C': [-0.9511616844410896, 0.7550633131074532, 0.7363527793604714, 0.6977391005692877, -0.3123355736759244, -1.7021177227906812, -1.3862507417344354, -1.727342969140775, 1.0747197184165005, 1.1340832793974738, 0.1324096628484044, -0.5299457800817529, 1.6006924700977194, 0.9050396254946167, -0.8846750489374864, 0.40032397005359094, -1.7564729946278568, -0.46507273460125453, 0.9769073545382444, -0.7263812883575089, -0.37048196544501266, 1.80044488636913, 0.6647517746076601, 0.9128705240796025, 0.7053487968069103, 0.014268483728488292, 0.689375512640008, -1.2603921082551182, 1.5201543445166155, 1.551514495071835, -1.3960096314755397, -1.059110981114002, 1.8443030002906873, 0.5150473175295107, -0.185680012538737, 1.0515759879522677, -0.10437914697239412, -0.3550279839808365, -1.0456220946900894, 0.1876819445087922, 0.355805569589567, -0.40997396932648184, 0.3349464331617606, -0.02737039970438684, -0.2352885831044407, 0.6605498316325873, 0.770038055959704, 0.2534277062790789, 0.8364984290692441, 0.5806528646077114, 1.4493980233357158, 0.018037370332397176, 0.16680220503674728, 0.5755592740545223, -1.4401329943920735, -0.22833423574223166, 2.073206477112489, -1.4805464301427829, 0.07011060671660649, 0.8285826823507193, -0.4463312989927289, -0.48640763737884085, 0.005658533571714153, -0.3866437398629221, 0.508276924828296, 0.18653158766980327, -0.26330558491714673, 1.1111574199897862, 1.4582400185450488, -0.5687559592271583, -0.19815264475037894, -0.2654999974214438, 0.028816038785434452, -0.5066743799182437, 0.4339942123758261, -1.0941452889966639, 1.669885574561373, 0.7671848768819962, 0.7767347932090302, 0.17423167736937853, -1.1505747270810904, 0.9286642763124375, -0.26846739088937427, -0.11227069476700857, -1.0569515568529673, 0.654640605625059, 0.0060866124772457385, 0.4860023913857364, -0.5889638832265205, 1.4903910676456495, -1.4844802179591183, 0.5695837143227849, 0.07765279129910554, -0.9082595302532245, -1.7214365427634855, -0.701061021242126, 1.1120057590805972, 1.185841414419638, 0.5801977849109009, 0.14658067938824632]}

         A
0  0.15052